DemoApps.NPVCalc.Core/bin/
DemoApps.NPVCalc.Core/obj/
DemoApps.NPVCalc.Services/bin/
DemoApps.NPVCalc.Services/obj/
DemoApps.NPVCalc.UnitTests/bin/
DemoApps.NPVCalc.UnitTests/obj/
DemoApps.NPVCalc.Web/bin/
DemoApps.NPVCalc.Web/obj/
